<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/products/add">Add New Product</a> | 
			<a href="/products">All Product List</a>
		</div>	
		<h1><%= title %></h1>
